<footer  class="c-holder c-holder--footer">
    <div class="o-container">

        <a href="https://github.com/getchopstick/chopstick-boilerplate"><img class="u-size-percent-30 u-center" src="../img/svg/icon-fly-footer.svg" alt=""></a>


        <a href="https://github.com/getchopstick/chopstick-boilerplate"><img class="u-s-50 u-center" src="../img/svg/icon-github.svg" alt=""></a>


            <ul class="o-list-inline c-footer-links">
                <li class="o-list-inline__item c-footer-links__item"><a href="#">facebook</a></li>
                <li class="o-list-inline__item c-footer-links__item"><a href="#">twitter</a></li>
            </ul>


    </div>
</footer>
