<!-- Always Load jQuery First -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/vendor/jquery/dist/jquery.min.js"><\/script>')</script>

<!-- Make responsive website responsive in IE7 & 8 -->
<!--[if IE 8 | IE 7]><script src="/vendor/respond/dest/respond.min.js"></script><![endif]-->

<!-- Theme specific JavaScript. Add your other scripts here -->
<!-- <script src="/vendor/ScrollMagic/scrollmagic/minified/ScrollMagic.min.js"></script> -->
<script src="/vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="/vendor/ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
<script src="/vendor/ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
<script src="/vendor/ScrollMagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>
<script src="/vendor/WOW/dist/wow.min.js"></script>
<script src="js/theme.concat.js"></script>
