<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ site.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/styleguide.css">

    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

    <!-- Enable HTML5 in IE<9 -->
    <!--[if lt IE 9  & (!IEMobile)]><script src="/dependencies/html5shiv/dist/html5shiv.min.js"></script><![endif]-->

    <!-- Modernizr -->
    <script src="js/modernizr.custom.js"></script>

    <link rel="icon" href="/favicon.png">
</head>

<body class="styleguide">
    <!--[if lt IE 7]>
    <div class="alert-box">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    </div>
    <![endif]-->

    <div class="site-content">
        {{ content }}
    </div>

    {% include generic.javascript.html %}
</body>
</html>
